{% extends 'layouts/base.html.twig' %}

{% block title %}
	{{thisuser}}
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center m-4 position-relative flex-wrap">
		<div class="col-12">
			<h1 class="primary rounded p-3 pl-5 pr-5 mb-0 text-center">{{thisuser}}</h1>
		</div>
		{% if thisuser.id is not same as(user.id) and hasSubscribed == 'false' %}
				<a href="{{path('app_subscribe', {id: thisuser.id})}}" class="btn btn-sub">
					<p class="m-0">S'abonner
						<i class="fas fa-plus-square subscribeIcon"></i>
					</p>
				</a>
		
		{% elseif thisuser.id is not same as(user.id) %}
				<a class="unsubscribeIcon" href="{{path('app_unsubscribe', {id: thisuser.id})}}" title="Se désabonner">
					<i class="far fa-times-circle"></i>
				</a>
		{% endif %}
	</div>
	{% if (cards|length) > 0 %}
		<section class="vosCartes row col-12 m-3 d-flex justify-content-center">

			{% for card in cards %}
				<div data-path="{{ path( 'app_card_show', { id: card.id } ) }}" class="indexCard card m-2 p-0 col-auto" style="cursor:pointer">
					<div class="imgContainer card-img m-2">
						<img src="{{ (card.imageName ? vich_uploader_asset(card) : asset('build/images/placeholder.jpg'))|imagine_filter( 'square_thumbnail_medium' ) }}" alt="{{ card.title }}"/>
					</div>

					<div class="card-body d-flex flex-column justify-content-start">
						<h5 class="card-title">
							{{ card.title }}
						</h5>
						<p class="card-text">
							{{ card.description|u.truncate(10, '...', false) }}
						</p>
						<div class="mt-auto d-flex justify-content-end align-items-end">
							<i>
								<small>{{ card.createdAt|ago }}</small>
							</i>
						</div>
					</div>
					<!-- fermeture : card infos -->
				</div>
				<!-- fermeture : card -->
			{% endfor %}
		{% else %}
			<h2>Aucune carte pour l'instant</h2>
		{% endif %}
	</section>
	{% if author is defined and author == 'true' %}
		<section class="vosAbonnements row col-9 m-3 light1 d-flex justify-content-center">
			<h2>Vos abonnements</h2>
			<ul class="row col-12 d-flex justify-content-center">
				{% for item in subscriptions %}
					<li>
						<a href="{{path('app_account', { id: item.id })}}" class="btn btn-pale">{{item}}</a>
					</li>
				{% endfor %}
			</ul>
		</section>
		<section class="vosInfos row col-12 m-3">
			<form method="POST" class="col-6 m-auto light1" novalidate>

				<h2>
					Modifier vos informations</h2>
				{{ form_start(form, {attr:{novalidate: true}}
				)}}
				<div class="accountModif opaque rounded p-3">
					{{form_row(form.firstName, {
					label: 'Prénom',
					attr: {'value': thisuser.firstName}
				}
				)}}
					{{form_row(form.lastName, {
					label: 'Nom',
					attr: {'value': thisuser.lastName}
				})}}
				</div>
				<div class="modifValidate mt-5 d-flex justify-content-center align-items-center flex-wrap">
					{% if error is defined %}
						<span class="d-block">
							<span class="form-error-icon badge badge-danger text-uppercase"></span>
							<span class="form-error-message">!
								{{error}}</span>
						</span>
					{% endif %}
					{{ form_row(form.plainPassword, {
					label: 'Entrez votre mot de passe pour confirmer les modifications'
				})}}
					<div class="buttonGroup col-12 row">
						<button type="submit" class="btn btn-pale m-auto p-3 pl-4 pr-4">Modifier</button>
					</div>
				</div>
				{{ form_end(form) }}

			</form>
		</section>
	{% endif %}
{% endblock %}
