<!DOCTYPE html>
<html lang="{{app.request.locale}}">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Majordome
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{encore_entry_link_tags('app')}}
		{% endblock %}
	</head>

	<body class="d-flex flex-column justify-content-between">
		{{include('layouts/partials/_top-navbar.html.twig')}}
		<div role="main" class="container d-flex flex-wrap align-items-start justify-content-around">
			{{include('layouts/partials/_flash-message.html.twig')}}
			{% block body %}{% endblock %}
		</div><!-- fermeture : container -->
		{{include('layouts/partials/_footer.html.twig')}}
		{% block javascripts %}
			{{encore_entry_script_tags('app')}}
		{% endblock %}
	</body>
</html></body></html>
