{% extends 'layouts/base.html.twig' %}

{% block title card.title %}

{% block body %}
	<article id="cardShow" class="col-12 border border-white rounded shadow">
		<h1 class="text-center border-bottom border-dark p-2">
			{{ card.title|capitalize }}
		</h1>
		<div class="imgContainer card-img m-2">
			<img class="card-img" src="{{ card.imageName ? vich_uploader_asset(card) : asset('build/images/placeholder.jpg') }}" alt="{{ card.title }}"/>
		</div>
		<p class="p-2">
			{{ card.description }}
		</p>
		<div class="mt-auto d-flex justify-content-end align-items-end ">
			<i>
				<small class="light1">
					Ajouté par
					{{card.user}}
					|
					<time datetime="{{ card.createdAt|date('Y-m-d H:i:s')}}">{{ card.createdAt|ago }}</time>
				</small>
			</i>
		</div>
	</article>
	{% if author == 'true' %}

		<div class="buttonsDiv mt-5 m-2">
			<a class="btn btn-pale" href="{{ path( 'app_card_edit', { id: card.id } ) }}">
				Modifier
			</a>
			<a class="btn btn-pale" href="#" onclick="event.preventDefault(); confirm('Vous allez supprimer cette carte, êtes-vous sûr ?') && document.getElementById('js-card-delete-form').submit();">
				Supprimer
			</a>
		</div>
	{% else %}
		<a href="{{path('app_account', {id:card.user.id})}}" class="btn btn-pale m-5 p-3">Toutes les cartes de
			{{card.user}}<br><i class="fas fa-arrow-right"></i></a>
	{% endif %}

	<form id="js-card-delete-form" action="{{ path( 'app_card_delete', { id: card.id } ) }}" method="POST" style="display:none;">
		<input type="hidden" name="csrf_token" value="{{ csrf_token('card_deletion_' ~ card.id) }}"/>
		<input type="hidden" name="_method" value="DELETE"/>
		<input type="submit" value="Delete"/>
	</form>
{% endblock %}
